<div class="footer">
	<div class="footer-main text-center">
		<%= image_tag "TPB-logo-big-white.png", class: "footer-logo" %>
		<p>Dr Rabia Malik<br>
			Grace Belgravia Medical<br>
			11a West Halkin Street<br>
			London<br>
			SW1X 8JL<br>
			<br>
			<%= link_to "thepeelboutique@gracebelgravia.com ", "mailto:thepeelboutique@gracebelgravia.com " %><br>
			<br>
			<%= link_to "https://www.instagram.com/thepeelboutique/?hl=en", target: "_blank" do %>
  				<i class="fa fa-instagram"></i>
			<% end %>&nbsp; 
			<%= link_to "https://www.facebook.com", target: "_blank" do %>
  				<i class="fa fa-facebook"></i>
			<% end %>&nbsp; 
			<%= link_to "https://twitter.com", target: "_blank" do %>
  				<i class="fa fa-twitter"></i>
			<% end %>
		</p>
	</div>
	<div class="sign-up">
		<script src="https://widgets.healcode.com/javascripts/healcode.js" type="text/javascript"></script>
		<healcode-widget data-type="prospects" data-widget-partner="object" data-widget-id="6121360c14d" data-widget-version="0.1"></healcode-widget>
		<div class="box"></div>
	</div>
	<div class="footer-small text-center">
		<p><%= link_to "FAQs", faqs_path %> &nbsp;| &nbsp;
		© The Peel Boutique 2017</p>
	</div>
</div>
