<div class="footer">
	<div class="footer-main text-center">
		<%= image_tag "TPB-logo-big-white.png", class: "footer-logo" %>
		<p>Dr Rabia Malik<br>
			Grace Belgravia Medical<br>
			11a West Halkin Street<br>
			London<br>
			SW1X 8JL<br>
			<br>
			<%= link_to "info@thepeelboutique.co.uk", "mailto:info@thepeelboutique.co.uk" %><br>
			<br>
			<%= link_to "https://www.instagram.com", target: "_blank" do %>
  				<i class="fa fa-instagram"></i>
			<% end %>&nbsp; 
			<%= link_to "https://www.facebook.com", target: "_blank" do %>
  				<i class="fa fa-facebook"></i>
			<% end %>&nbsp; 
			<%= link_to "https://twitter.com", target: "_blank" do %>
  				<i class="fa fa-twitter"></i>
			<% end %>
		</p>
	</div>
	<div class="footer-small text-center">
		<p>© The Peel Boutique 2017</p>
	</div>
</div>
