<div class="instagram-section">
	<div class="instagram-image hidden-sm hidden-xs">
		<%= link_to "https://www.instagram.com/thepeelboutique/?hl=en" , target: "blank" do %>
			<%= image_tag("http://res.cloudinary.com/dc8wyadoa/image/upload/v1493899448/Instabanner_zi0kj8.jpg") %>

	<h4 class="hidden-xs hidden-sm">@ThePeelBoutique</h4>
	<% end %>
  </div>
	<div class="instagram-image hidden-xs hidden-md hidden-lg hidden-xl">
		<%= link_to "https://www.instagram.com/thepeelboutique/?hl=en", target: "blank" do %>
			<%= image_tag("http://res.cloudinary.com/dc8wyadoa/image/upload/v1493927652/insta2_b3y2ny.jpg") %>
	</div>
	<% end %>
	<div class="instagram-image hidden-sm hidden-md hidden-lg hidden-xl">
		<%= link_to "https://www.instagram.com/thepeelboutique/?hl=en", target: "blank" do %>
			<%= image_tag("http://res.cloudinary.com/dc8wyadoa/image/upload/v1493927516/insta_kdbyan.jpg") %>
	</div>
	<% end %>
</div>

