<%= render 'shared/navbar' %>
<div class="homepage-banner" style="background-image: url('http://res.cloudinary.com/dcszu7vjv/image/upload/v1490712935/Screen_Shot_2017-03-28_at_15.52.15_en7gdc.png');">
</div>
<div class="page-content">
	<div class="contact-sub-text text-center">
		<%= image_tag "http://res.cloudinary.com/dc8wyadoa/image/upload/v1490786000/TPB-strip-pink_shr2ma.png", class: "landing-strip contact-strip-left" %>
		<%= image_tag "http://res.cloudinary.com/dc8wyadoa/image/upload/v1490786000/TPB-strip-pink_shr2ma.png", class: "landing-strip contact-strip-right" %>
		<h3>CONTACT US</h3>
		<strong><p>Dr Rabia Malik<br>
		Grace Belgravia Medical<br>
		11a West Halkin Street<br>
		London<br>
		SW1X 8JL
		<br></br>
		<%= link_to "www.drrabiamalik.com", "www.drrabiamalik.com", target: "_blank", class: "contact-link" %> 
		<br>
		@DrRabiaMalik
		<br></br>
		<br>
		PRESS
		<br></br>
		For further information on the treatments offered by Dr Rabia Malik,<br> interview opportunities or press appointments 
		please contact: 
		<br></br>
		Emma Bracey-Wright or Natasha Green at EBWPR<br>
		07905 768510 / 0207 689 8072<br>
		<%= link_to "natasha@emmabw.com", "mailto:natasha@emmabw.com", class: "contact-link" %>
		<br></br>
		The foundation for Dr Malik’s work is facial skin peels, which are still one of the best options for a healthier, vibrant complexion. However, unlike so many chemical peels on the market, Dr Malik works with less invasive peels that don’t strip the skin or leave it inflamed and irritated. Instead she strives to provide her patients with peels that offer minimum downtime and maximum results <br>while remaining chirally correct.</p></strong>
		<div class="contact-map">
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1490646292/Screen_Shot_2017-03-27_at_21.23.44_vghwsv.png") %>
		</div>
	</div>
	 <%= render 'shared/footer' %>
</div>