<%= render 'shared/navbar' %>
<div class="homepage-banner" style="background-image: url('http://res.cloudinary.com/dc8wyadoa/image/upload/v1493722095/TreatmentsBanner7_cudjia.jpg');">
</div>
<div class="page-content text-center">
	<h3 class="contact-sub-text">CONTACT US</h3>
	<div class="contact-text text-center">
		<%= image_tag "http://res.cloudinary.com/dc8wyadoa/image/upload/v1490786000/TPB-strip-blue_t8fnpz.png", class: "landing-strip contact-strip-left" %>
		<%= image_tag "http://res.cloudinary.com/dc8wyadoa/image/upload/v1490786000/TPB-strip-blue_t8fnpz.png", class: "landing-strip contact-strip-right" %>
		<p>
		<strong>THE PEEL BOUTIQUE</strong>
		<br></br>
		GRACE BELGRAVIA MEDICAL<br>
		11A WEST HALKIN STREET<br>
		LONDON
		<br>SW1X 8JL
		<br></br>
		<%= link_to "THEPEELBOUTIQUE@GRACEBELGRAVIA.COM ", "mailto:thepeelboutique@gracebelgravia.com ", target: "_blank", class: "contact-link" %>
		<br>
		<%= link_to "@THEPEELBOUTIQUE", "https://www.instagram.com/thepeelboutique/?hl=en", target: "_blank", class: "contact-link" %>
		<br>
		</br>
		<br>
		<br>
		<strong>PRESS</strong>
		<br></br>
		FOR FURTHER INFORMATION ON THE TREATMENTS OFFERED BY DR RABIA MALIK,<br> INTERVIEW OPPORTUNITIES OR PRESS APPOINTMENTS PLEASE CONTACT:
		<br></br>
		<%= link_to "THEPEELBOUTIQUE@GRACEBELGRAVIA.COM", "mailto:thepeelboutique@gracebelgravia.com", class: "contact-link" %>
		<br></br>
		FOR FRANCHISE AND PARTNERSHIP QUERIES, PLEASE CONTACT:
		 <br></br>
		<%= link_to "INFO@DRRABIAMALIK.COM", "mailto:info@drrabiamalik.com", class: "contact-link" %>
		<br></br>
		<div class="contact-map">
			<%= image_tag("http://res.cloudinary.com/dc8wyadoa/image/upload/v1493897147/map_zkmsxa.jpg") %>
		</div>
	</div>
	<%= render 'shared/instagram_section' %>
	<%= render 'shared/footer' %>
</div>

