<%= render 'shared/navbar' %>
<div class="faq-page-content">
	<div class="faq-items">
		<div class="faq-sub-text text-center">
			<h3>FAQs</h3>
			<div class="question">
				<h4>How is Lactic Acid different to Glycolic Acid?</h4>
				<%= image_tag "ThePeelBoutique-arrow-down.png", class: "arrow arrow-1" %>
			</div>
			<div class="answer">
				<p>Depending on the strength of glycolic acid, it can quite literally strip the skin and leave it irritated. The Peel Boutique uses Lactic Acid, which won’t make your skin suddenly shred like a snake’s skin. This is a far less invasive and chirally correct peel that still achieves maximum results without any side affects.</p>
			</div>
			<div class="question">
				<h4>Who will be performing the Peel?</h4>
				<%= image_tag "ThePeelBoutique-arrow-down.png", class: "arrow arrow-2" %>
			</div>
			<div class="answer">
				<p>Dr Malik has personally sourced and trained therapists to perform her peels at The Peel Boutique.</p>
			</div>
			<div class="question">
				<h4>How often should I get a peel at The Peel Boutique?</h4>
				<%= image_tag "ThePeelBoutique-arrow-down.png", class: "arrow arrow-3" %>
			</div>
			<div class="answer">
				<p>It is recommended to book in for a monthly peel. With problem skin types, such as acne, twice monthly can be very beneficial.</p>
			</div>
			<div class="question">
				<h4>Will it hurt?</h4> 
				<%= image_tag "ThePeelBoutique-arrow-down.png", class: "arrow arrow-4" %>
			</div>
			<div class="answer">
				<p>No, there is no pain - some patients experience a slight tingling sensation.</p>
			</div>
			<div class="question">
				<h4>Are the results instant? How long will the results last?</h4>
				<%= image_tag "ThePeelBoutique-arrow-down.png", class: "arrow arrow-5" %>
			</div>
			<div class="answer">
				<p>Patients often remark how smooth and incredibly soft their skin feels straight after a peel. Makeup also goes on more ‘smoothly’ post treatment due to the resurfacing nature of skin peels. You should see noticeable differences over the course of 24 hours – your skin will appear brighter and more radiant. It is advised to book in for monthly peels to maintain your brighter complexion.</p>
			</div>
			<div class="question">
				<h4>How should I care for my skin after a peel at The Peel Boutique?</h4>
				<%= image_tag "ThePeelBoutique-arrow-down.png", class: "arrow arrow-6" %>
			</div>
			<div class="answer">
				<p>To maintain your new glow, it is advised to use a daily serum from the TPB product range, or as advised by your TPB therapist, and a gentle exfoliant once or twice weekly.</p>
			</div>
			<div class="question">
				<h4>Can I wear makeup after a peel at The Peel Boutique?</h4>
				<%= image_tag "ThePeelBoutique-arrow-down.png", class: "arrow arrow-7" %>
			</div>
			<div class="answer">
				<p>Yes, it is quite safe to apply makeup after a peel. We recommend mineral makeup and oxygenetix is our makeup brand of choice.</p>
			</div>
			<div class="question">
				<h4>Can I go straight into the sun after a peel at The Peel Boutique?</h4>
				<%= image_tag "ThePeelBoutique-arrow-down.png", class: "arrow arrow-7" %>
			</div>
			<div class="answer">
				<p>Your therapist will apply a layer of sunscreen so it is safe to go out in the sunlight. However, sunbathing is not recommended for 48 hours after a peel. </p>
			</div>
		</div>
		<div class="faq-image">
			<%= image_tag "http://res.cloudinary.com/dc8wyadoa/image/upload/v1493839657/FAQ_r9wxsq.jpg" %>
		</div>
	</div>
	<%= render 'shared/footer' %>
</div>