<%= render 'shared/navbar' %>
<div class="faq-page-content">
	<div class="faq-items">
		<div class="faq-sub-text text-center">
			<h3>FAQs</h3>
			<div class="question">
				<h4>HOW IS LACTIC ACID DIFFERENT TO GLYCOLIC ACID?</h4>
				<%= link_to ""  do %> 
				<%= image_tag "ThePeelBoutique-arrow-down.png", class: "arrow arrow-1" %>
				<%= image_tag "ThePeelBoutique-arrow-up.png", class: "arrow arrow-1a hidden" %>
				<% end %>
			</div>
			<div class="answer answer-1 pullDown pullDown hidden">
				<p>DEPENDING ON THE STRENGTH OF GLYCOLIC ACID, IT CAN QUITE LITERALLY STRIP THE SKIN AND LEAVE IT IRRITATED. THE PEEL BOUTIQUE USES LACTIC ACID, WHICH WON’T MAKE YOUR SKIN SUDDENLY SHRED LIKE A SNAKE’S SKIN. THIS IS A FAR LESS INVASIVE AND CHIRALLY CORRECT PEEL THAT STILL ACHIEVES MAXIMAL RESULTS WITH NO DOWNTIME.</p>
			</div>
			<div class="question">
				<h4>WHO WILL BE PERFORMING THE PEEL?</h4>
				<%= link_to ""  do %> 
				<%= image_tag "ThePeelBoutique-arrow-down.png", class: "arrow arrow-2" %>
				<%= image_tag "ThePeelBoutique-arrow-up.png", class: "arrow arrow-2a hidden" %>
				<% end %>
			</div>
			<div class="answer answer-2 pullDown hidden">
				<p>DR MALIK HAS PERSONALLY TRAINED ALL THERAPISTS TO PERFORM THE TREATMENTS AT THE PEEL BOUTIQUE.</p>
			</div>
			<div class="question">
				<h4>HOW OFTEN SHOULD I GET A PEEL AT THE PEEL BOUTIQUE?</h4>
				<%= link_to ""  do %> 
				<%= image_tag "ThePeelBoutique-arrow-down.png", class: "arrow arrow-3" %>
				<%= image_tag "ThePeelBoutique-arrow-up.png", class: "arrow arrow-3a hidden" %>
				<% end %>
			</div>
			<div class="answer answer-3 pullDown hidden">
				<p>IT IS RECOMMENDED TO BOOK IN FOR A MONTHLY PEEL. WITH PROBLEM SKIN TYPES, SUCH AS ACNE, TWICE MONTHLY CAN BE VERY BENEFICIAL.</p>
			</div>
			<div class="question">
				<h4>WILL IT HURT?</h4> 
				<%= link_to ""  do %> 
				<%= image_tag "ThePeelBoutique-arrow-down.png", class: "arrow arrow-4" %>
				<%= image_tag "ThePeelBoutique-arrow-up.png", class: "arrow arrow-4a hidden" %>
				<% end %>
			</div>
			<div class="answer answer-4 pullDown hidden">
				<p>NO, THERE IS NO PAIN - SOME CLIENTS EXPERIENCE A SLIGHT TINGLING SENSATION.</p>
			</div>
			<div class="question">
				<h4>ARE THE RESULTS INSTANT? HOW LONG WILL THE RESULTS LAST?</h4>
				<%= link_to ""  do %> 
				<%= image_tag "ThePeelBoutique-arrow-down.png", class: "arrow arrow-5" %>
				<%= image_tag "ThePeelBoutique-arrow-up.png", class: "arrow arrow-5a hidden" %>
				<% end %>
			</div>
			<div class="answer answer-5 pullDown hidden">
				<p>CLIENTS OFTEN REMARK HOW SMOOTH AND INCREDIBLY SOFT THEIR SKIN FEELS STRAIGHT AFTER A PEEL. MAKEUP ALSO GOES ON MORE ‘SMOOTHLY’ POST TREATMENT DUE TO THE RESURFACING NATURE OF SKIN PEELS. YOU SHOULD SEE NOTICEABLE DIFFERENCES OVER THE COURSE OF 24 HOURS – YOUR SKIN WILL APPEAR BRIGHTER AND MORE RADIANT. IT IS ADVISED TO BOOK IN FOR MONTHLY PEELS TO MAINTAIN YOUR BRIGHTER COMPLEXION.</p>
			</div>
			<div class="question">
				<h4>HOW SHOULD I CARE FOR MY SKIN AFTER A PEEL AT THE PEEL BOUTIQUE?</h4>
				<%= link_to ""  do %> 
				<%= image_tag "ThePeelBoutique-arrow-down.png", class: "arrow arrow-6" %>
				<%= image_tag "ThePeelBoutique-arrow-up.png", class: "arrow arrow-6a hidden" %>
				<% end %>
			</div>
			<div class="answer answer-6 pullDown hidden">
				<p>TO MAINTAIN YOUR NEW GLOW, IT IS ADVISED TO USE A DAILY SERUM FROM THE TPB PRODUCT RANGE, OR AS ADVISED BY YOUR TPB THERAPIST, AND A GENTLE EXFOLIANT ONCE OR TWICE WEEKLY.</p>
			</div>
			<div class="question">
				<h4>CAN I WEAR MAKEUP AFTER A PEEL AT THE PEEL BOUTIQUE?</h4>
				<%= link_to ""  do %> 
				<%= image_tag "ThePeelBoutique-arrow-down.png", class: "arrow arrow-7" %>
				<%= image_tag "ThePeelBoutique-arrow-up.png", class: "arrow arrow-7a hidden" %>
				<% end %>
			</div>
			<div class="answer answer-7 pullDown hidden">
				<p>YES, IT IS QUITE SAFE TO APPLY MAKEUP AFTER A PEEL. WE RECOMMEND MINERAL MAKEUP AND OXYGENETIX IS OUR MAKEUP BRAND OF CHOICE.</p>
			</div>
			<div class="question">
				<h4>CAN I GO STRAIGHT INTO THE SUN AFTER A PEEL AT THE PEEL BOUTIQUE?</h4>
				<%= link_to ""  do %> 
				<%= image_tag "ThePeelBoutique-arrow-down.png", class: "arrow arrow-8" %>
				<%= image_tag "ThePeelBoutique-arrow-up.png", class: "arrow arrow-8a hidden" %>
				<% end %>
			</div>
			<div class="answer answer-8 pullDown hidden">
				<p>YOUR THERAPIST WILL APPLY A LAYER OF SUNSCREEN SO IT IS SAFE TO GO OUT IN THE SUNLIGHT. HOWEVER, SUNBATHING IS NOT RECOMMENDED FOR 48 HOURS AFTER A PEEL.</p>
			</div>
		</div>
		<div class="faq-image">
			<%= image_tag "http://res.cloudinary.com/dc8wyadoa/image/upload/v1493839657/FAQ_r9wxsq.jpg" %>
		</div>
	</div>
	<%= render 'shared/footer' %>
</div>