<%= render 'shared/navbar' %>
<div class="homepage-banner" style="background-image: url('http://res.cloudinary.com/dc8wyadoa/image/upload/v1493920795/TreatmentsBanner_d8wh8z.jpg');">
</div>
<div class="page-content">
	<div class="treatment-sub-text text-center">
		<h3>TREATMENTS</h3>
		<p>AT THE PEEL BOUTIQUE, DR MALIK HAS SPECIALLY TRAINED THERAPISTS TO CARRY OUT THE PEEL BOUTIQUE TREATMENTS.
		<br></br>
		SHE HAS CREATED THREE BESPOKE EXPRESS PEELS ON THE PEEL BOUTIQUE MENU TO CATER TO ALL SKIN TYPES AND COLOURS. EACH PEEL IS £75 FOR A 20 MINUTE TREATMENT.</p>
		<div id="treatment-menu"></div>
		<div class="treatment-menu">
			<%= image_tag "http://res.cloudinary.com/dc8wyadoa/image/upload/v1490786000/TPB-strip-blue_t8fnpz.png", class: "landing-strip treatment-strip-left" %>
			<%= image_tag "http://res.cloudinary.com/dc8wyadoa/image/upload/v1490786000/TPB-strip-blue_t8fnpz.png", class: "landing-strip treatment-strip-right" %>
			<h3>TREATMENT MENU</h3>
			<p><span>THE BRIGHTENING PEEL</span><br></br>
			CREATED FOR NORMAL SKIN TYPES TO MAINTAIN A YOUTHFUL AND EVEN
			COMPLEXION. LIGHTER, CHIRALLY CORRECT PEELS WORK EXCEPTIONALLY WELL TO STIMULATE NEW CELLS TO ENCOURAGE HEALTHY EXFOLIATION AND RE-MODELING.</p>
			<p><span>THE HYDRATING PEEL</span><br></br>
			IDEAL FOR A MATURE SKIN TYPE WHERE THE CLIENT WANTS TO SMOOTH WRINKLES AND HYDRATE THIRSTY SKIN. THIS IS AN EASY AND CONVENIENT TREATMENT FOR CLIENTS WORRIED ABOUT THE APPEARANCE OF FINE LINES AND WRINKLES.</p>
			<p><span>THE BLEMISH PEEL</span><br></br>
			KEEP ON TOP OF YOUR ACNE ISSUES AND SKIN DISCOLORATION OVER SEVERAL MONTHS WITH REGULAR PEELS THAT ENHANCE HEALING. FEATURING A CUSTOMISED EXFOLIANT AND PEEL TO DISSOLVE AND CLEAR BLACKHEADS,
			PIGMENT, DEAD SKIN, DECREASE PORE SIZE, EXFOLIATE, CALM SENSITIVITY AND REDNESS/VEIN ISSUES.</p>
		</div>
		<div class="text-center">
		<%= link_to "BOOK A TREATMENT", "mailto:thepeelboutique@gracebelgravia.com?subject=The Peel Boutique Booking Request", class: "pink-btn" %>
		</div>
		<div class="why-peels">
			<div class="why-peels-image hidden-md hidden-sm hidden-xs">
				<%= image_tag "http://res.cloudinary.com/dc8wyadoa/image/upload/v1493839654/Treatments_inmuzg.jpg" %>
			</div>
			<div class="why-peels-text">
				<h3>WHY PEELS?<br>THE SCIENCE BEHIND SKIN PEELS</h3>
				<p>SKIN PEELS NEED TO BE SCIENTIFICALLY CORRECT,  NON-TOXIC AND CORRECTLY FORMULATED TO MAXIMALLY REJUVENATE THE SKIN. THE PEEL BOUTIQUE OFFERS PROFESSIONAL STRENGTH LACTIC ACID PEELS THAT ARE CHIRALLY CORRECT AND NON-INFLAMMATORY OR SKIN THINNING.	AS WE AGE, ALL OF OUR TISSUES THIN AND INFLAMMATION IS ONE OF THE MAJOR FACTORS FOR CAUSING AGING AND DISEASE.
				<br></br>
				WHEN IT COMES TO CHOOSING THE RIGHT PEEL, YOU IDEALLY NEED ONE THAT DOES NOT CONTRIBUTE TO INFLAMMATION OR CHALLENGE YOUR ORGAN FUNCTION.	RATHER INCREDIBLY, YOUR BODY’S CELL STRUCTURE WILL HAVE AN ANTI-AGING, HEALTHY RESPONSE TO CHIRALLY CORRECT INGREDIENTS, ALLOWING THEM TO PENETRATE INTO THE EPIDERMIS, DERMIS AND ALL CELLS. THIS RESULTS IN VISIBLY FIRMER, LIFTED, MORE YOUTHFUL LOOKING SKIN THAT WILL HELP SHIELD AGAINST VISIBLE AGING AND SKIN DAMAGE.
				<br></br>
				BY CHOOSING A CHIRALLY CORRECT ACID PEEL AT THE PEEL BOUTIQUE, YOU ARE NOURISHING AND SUPPORTING THE SKIN’S CELLULAR STRUCTURES, STIMULATING CELL RENEWAL AND PRESERVING, SUSTAINING AND REVITALIZING SKIN HEALTH.</p>
			</div>
		</div>
	</div>
	<%= render 'shared/instagram_section' %>
	<%= render 'shared/footer' %>
</div>
